# Flask e extensões essenciais
Flask
Flask-Session
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
Flask-WTF
authlib
Jinja2
Flask-RESTful
Flask-Cors
Flask-JWT-Extended
pywhatkit

# Banco de Dados (MySQL)
mysqlclient==2.2.0  # Driver para MySQL

# Armazenamento externo (Archive.org)
requests==2.31.0  # Para interagir com APIs externas

# Segurança e variáveis de ambiente
bcrypt==4.1.2  # Para hash de senhas
python-dotenv==1.0.1  # Gerenciamento de variáveis de ambiente
Flask-Security-Too

# Testes
# pytest==8.0.0
# pytest-flask==1.2.0
# bcoverage==7.4.0  # Relatórios de cobertura de testes

# Logs e Deploy
# gunicorn==21.2.0  # Servidor WSGI para produção